*{
    margin-top: 0;
    margin-left: 0;
}
body{
    position: relative;

}
.wrapper{
    position: center;
    margin: auto;
    justify-content: center;
    margin-top: 10vh;
    width: 80vw;
    height: 70vh;
    display: grid;
    grid-template-columns: 80px 80px 80px 80px 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px 80px 80px 80px 80px;
}
.tile{
    width: 20px;
    height: 20px;
    background-origin: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    display: flex;
    justify-content: center;
}
.even{
    background-color: white;
    border: 1px solid black;
}
.odd{
    background-color: rgb(64, 0, 255);;
    border: 1px solid black;
}